
@{
    ViewData["Title"] = "SMA İÇİN YARDIM";
}

@model List<Person>
@foreach (var item in Model)
{
    
    <a asp-controller="SMA" asp-action="Detay" asp-route-id="@item.Id">
        <div class="card bg-dark text-white divv divselect">
            <img src="~/images/@item.Fotograf1" class="card-img" alt="..." height="550" width="75">
            <div class="card-img-overlay">
                <h5 class="card-title">@item.Name</h5>
                <p class="card-text">Minik @item.Name yardımlarını bekliyor. Daha fazla bilgi için tıkla!</p>
                <p class="card-text">İZİN BİTİŞ TARİHİ: @item.Yardim_Bitis</p>
            </div>
        </div>
    </a>

}

