
@{
    ViewData["Title"] = "SMA NEDİR";
}
<div class="container-fluid bg-light smanedir">
    <h1>Nedir SMA?</h1>
    <p>Spinal müsküler atrofi (SMA), kaslarda küçülmeye yol açan bir grup genetik hastalığa verilen addır. SMA, beyin kökü ve omurilikte yer alan sinir hücrelerindeki kayıp sonrası ortaya çıkar. Bu durum sonucu ilgili sinirlerin innerve ettiği kaslarda işlev kaybı görülür ve bu kaslar atrofiye uğrar. Spinal müsküler atrofi (SMA), kasların zayıflamasına neden olan genetik (kalıtsal) bir nöromüsküler hastalıktır. SMA‘lı insanlar, omurilikte kas hareketini kontrol eden (motor nöronlar olarak adlandırılan) belirli bir tür sinir hücresini kaybederler. Bu motor nöronlar olmadan kaslar, kasları hareket ettiren sinir sinyallerini almaz. Atrofi kelimesi daha küçük anlamına gelen tıbbi bir terimdir. SMA ile bazı kaslar, kullanılmadığı için küçülür ve zayıflar.</p><br />
    <h1>SMA TÜRLERİ NELERDİR?</h1>
    <p>
        <h4>4 ana SMA türü vardır:</h4>
        <ul>
            <li><h5>Tip 1(ŞİDDETLİ):</h5> SMA’lı kişilerin yaklaşık %60’ı, Werdnig-Hoffman hastalığı olarak da adlandırılan tip 1’e sahiptir. Semptomlar doğumda veya bir bebeğin yaşamının ilk altı ayında ortaya çıkar. Tip 1 SMA’lı bebekler yutma ve emmede zorluk çekerler. Başlarını dik tutmakta ve desteksiz oturmakta zorluk çekerler. Kaslar zayıflamaya devam ettikçe, çocuklar solunum yolu enfeksiyonlarına ve akciğerlerin çökmesine (pnömotoraks) daha yatkın hale gelir.</li>

            <li><h5>Tip 2(ORTA SEVİYE):</h5>Tip 2 SMA’nın belirtileri, bir çocuk altı ay ile 18 ay arasında olduğunda ortaya çıkar. Bu tip alt uzuvları etkileme eğilimindedir. Tip 2 SMA’lı çocuklar oturabilir ancak yürüyemezler. SMA tip 2’li çoğu insan, ergenlik veya genç yetişkinlik döneminde hayatta kalır.</li>

            <li><h5>Tip 3(HAFİF):</h5> Tip 3 SMA semptomları bir çocuğun yaşamının ilk 18 ayından sonra ortaya çıkar. Tip 3’lü bazı kişilerde erken yetişkinliğe kadar hastalık belirtileri görülmez. Tip 3 semptomlar arasında hafif kas güçsüzlüğü, yürüme zorluğu ve sık solunum yolu enfeksiyonları bulunur. Zamanla, semptomlar yürüme veya ayakta durma yeteneğini etkileyebilir. Tip 3 SMA, yaşam beklentisini önemli ölçüde kısaltmaz.</li>

            <li><h5>Tip 4(YETİŞKİN)</h5>SMA’nın nadir yetişkin formu, tipik olarak 30’ların ortalarına kadar ortaya çıkmaz. Kas zayıflığı semptomları yavaş ilerler, bu nedenle tip 4’lü çoğu insan hareketli kalır ve hayatlarını dolu dolu yaşar.</li>
        </ul>
    </p>

    <h1>SMA HASTALIĞINA NE SEBEP OLUR?</h1>
    <p>
        SMA‘lı kişilerde ya SMN1 geninin bir kısmı eksiktir ya da değişmiş (mutasyona uğramış) bir gene sahiptir. Sağlıklı bir SMN1 geni, SMN proteini üretir. Motor nöronlar, hayatta kalmak ve düzgün çalışmak için bu proteine ​​​​ihtiyaç duyar.
        SMA’lı insanlar yeterince SMN proteini yapmazlar ve bu nedenle motor nöronlar küçülür ve ölür. Sonuç olarak, beyin istemli hareketleri, özellikle baş, boyun, kol ve bacaklardaki hareketleri kontrol edemez.
        İnsanlar ayrıca az miktarda SMN proteini üreten SMN2 genlerine sahiptir. Bir kişi bir SMN2 geninin sekiz adede kadar kopyasına sahip olabilir. SMN2 geninin birden fazla kopyasına sahip olmak tipik olarak daha az şiddetli SMA semptomlarına yol açar çünkü fazladan genler eksik SMN1 proteinini oluşturur. Nadiren, SMN dışı gen mutasyonları (kromozom 5 olmayan) SMA’ya neden olur.
    </p>

    <h1>SMA HASTALIĞI BELİRTİLERİ NELERDİR?</h1>
    <p>
        SMA belirtileri türüne göre değişir. Genel olarak, SMA’lı insanlar ilerleyici bir kas kontrolü, hareket ve güç kaybı yaşarlar. Kas kaybı yaşla birlikte daha da kötüleşir. Hastalık, gövdeye ve boyuna en yakın kasları ciddi şekilde etkileme eğilimindedir. SMA’lı bazı insanlar asla yürümez, oturmaz veya ayakta durmazlar. Diğerleri yavaş yavaş bu eylemleri yapma yeteneklerini kaybederler.
    </p>

    <h1>SMA HASTALIĞI NASIL TEŞHİS EDİLİR?</h1>
    <p>Tanı genellikle ebeveynler veya bakıcılar bir çocukta SMA semptomları fark ettiğinde başlar. Semptomların nedenini bulmak için sağlık uzmanınız fizik muayene yapacak ve tıbbi öykü alacaktır. Doktorunuz ayrıca SMA’yı teşhis etmek için bu testlerden bir veya daha fazlasını isteyebilir:
        <ul>
            <li>Kan testleri</li>
            <li>Kas biyopsisi</li>
            <li>Genetik testler</li>
            <li>Elektromiyogrofi(EMG)</li>
        </ul>
    </p>

    <h1>SMA HASTALIĞI NASIL TEDAVİ EDİLİR</h1>
    <p>
        Şu anda spinal müsküler atrofiyi (SMA) tedavi etmek mümkün değildir, ancak yeni tedaviler bulmak için araştırmalar devam etmektedir.
        Semptomları yönetmek ve bu durumdaki kişilerin mümkün olan en iyi yaşam kalitesine sahip olmalarına yardımcı olmak için tedavi ve destek mevcuttur.
        SMA hastalığı belirtilerinin azaltılmasına yönelik tedaviler, SMA tipine ve semptomlara bağlıdır. SMA’lı birçok kişi fiziksel ve mesleki terapiden ve ortopedik diş telleri, koltuk değnekleri, yürüteçler ve tekerlekli sandalyeler gibi yardımcı cihazlardan yararlanır.

        SMA, yaşam kalitesini ve yaşam beklentisini önemli ölçüde etkileyebilen genetik bir nöromüsküler hastalıktır. Zamanla kötüleşen ilerleyici bir hastalıktır. Semptomlar doğumda mevcut olabilir (tip 1) veya çocuklukta (tip 2 veya 3) veya yetişkinlikte (tip 4) gelişebilir. Daha yeni hastalık değiştirici ve gen değiştirme tedavileri umut vaat ediyor. SMA’ya neden olan geni taşımak ve bunu bilmemek mümkündür. Ailenizde SMA varsa, gelecekteki bebeğinizin SMA olma şansını azaltmanın yolları hakkında doktorunuzla konuşun.
    </p>
    
</div>
<div class="text-muted">
    <span>Bu sayfadaki bilgiler www.medicenehospital.com sitesinden alınmıştır.</span>
</div>



